body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.108);
 
}

#calculator {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.705);
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}

#display {
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  border: none;
  background-color: rgba(0, 0, 0, 0.125);
  color: white;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}

button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;
  background-color: rgba(0, 0, 0, 0.548);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.284);
}

.operatorBtn {
    background-color: orange;
}
.operatorBtn:hover {
    background-color: rgba(255, 166, 0, 0.468);
}
.operatorBtn:active {
    background-color: rgba(255, 166, 0, 0.097);
}
